h1,
h2 {
  text-align: left;
  color: #48484a;
}
h1 {
  font-size: 45px;
}
form {
  padding: 10px;
  padding-bottom: 30px;
}
ul {
  padding: 0;
  color: grey;
  text-align: left;
}
li {
  list-style: none;
}
#label {
  width: 300px;
  padding: 5px;
  margin-right: 5px;
}
#form-submit,
#form-current {
  width: 100px;
  margin-right: 5px;
}
.cities-list {
  display: inline-flex;
}
.cities-list li {
  padding-right: 10px;
  color: #48484a;
}
