h1 {
  text-align: left;
  color: #48484a;
  font-size: 45px;
}
form {
  padding: 10px;
  padding-bottom: 30px;
}
ul {
  padding: 0;
  color: grey;
  text-align: left;
}
li {
  list-style: none;
}
p {
  color: grey;
  text-align: left;
}
#label {
  width: 300px;
  padding: 5px;
  margin-right: 5px;
}
#form-submit,
#form-current {
  width: 100px;
  margin-right: 5px;
}
.search-form {
  margin-bottom: 25px;
}
.cities-list {
  display: inline-flex;
}
.cities-list li {
  padding-right: 20px;
  color: #48484a;
}

.temperature {
  text-align: left;
  color: #48484a;
  font-size: 64px;
  position: relative;
  top: -15px;
}
.unit-celsius {
  position: relative;
  top: -50px;
  color: #48484a;
}
